.portada{
    position: relative;
    width: 100%;
    min-height: 89rem;
    height: 89rem;
    overflow: hidden;
    border-radius: 10px;
    z-index: 500;
    top: 3.2rem;
    margin-bottom: 5rem;
    box-shadow: 0 0 27px 29px rgba(0, 0, 0, 0.993) ;
}

.moviePortada{
    position: relative;
    width: 100%;
    min-height: 89rem;
    height: 89rem;
    overflow: hidden;
    border-radius: 10px;
    z-index: 500;
    top: 3.2rem;
    margin-bottom: 5rem;
    box-shadow: 0 0 27px 29px rgba(0, 0, 0, 0.993) ;
}


.blur_portada{
    position: absolute;
    width: 100.5%;
    height: 87rem;
    box-shadow: 0 0 17px 25px rgba(0, 0, 0, 0.993) inset;
    z-index: 1001;
    left: 0;
    top: 0;
}




/* portada img */


.imgPortada{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    object-position: top;
    filter: contrast(105%) brightness(105%);
}

.box_info_portada{
    width: 70rem;
    height: 50%;
    position: absolute;
    z-index: 2000 !important;
    top: 33rem;
    left: 4.5%;
    transform: translate(0 , -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    gap: 4rem;
}

.title_portada{
    font-size: 3.8rem;
    text-transform: uppercase;
    font-family: "MontserratBold";
    font-weight: bold;
    text-shadow: 0 0 10px black;
    color: white;
    filter: drop-shadow(0 0 3px black);

}

.descripcion_portada{
    font-size: 2rem;
    letter-spacing: 1px;
    text-shadow: 0 0 10px black;
    filter: drop-shadow(0 0 3px black);

}

.button_moreInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    background-color: rgba(209, 209, 209, 0.363);
    backdrop-filter: blur(3px);
    padding: .6rem 2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
    border: 1px solid rgba(255, 255, 255, 0.322);
    transition: all .3s ease;

}

.button_moreInfo p{
    font-size: 1.8rem;
    text-shadow: 0 0 10px black;
    color: white;
}

.button_moreInfo:hover{
    background-color: rgba(209, 209, 209, 0.664);
    transition: all .3s ease;
}

.button_moreInfo img{
    width: 2.5rem;
    object-fit: contain;
    filter: drop-shadow( 0 0 10px rgba(0, 0, 0, 0.849));
}


@media screen and (max-width:1440px) {
    .portada{
        position: relative;
        width: 100%;
        min-height: 80rem;
        height: 80rem;
        top: 3.2rem;
    }
    
    .moviePortada{
        min-height: 80rem;
        height: 80rem;
        box-shadow: 0 0 27px 29px rgba(0, 0, 0, 0.993) ;
    }

    .blur_portada{
        width: 100.5%;
        height: 77rem;
    }

}



@media screen and (max-width:800px) {
    .portada{
        position: relative;
        width: 100%;
        min-height: 80rem;
        height: 80rem;
        top: 3.2rem;
    }
    
    .moviePortada{
        min-height: 80rem;
        height: 80rem;
        box-shadow: 0 0 27px 29px rgba(0, 0, 0, 0.993) ;
    }
    .blur_portada{
        width: 100.5%;
        height: 77rem;
        box-shadow: 0 0 17px 15px rgba(0, 0, 0, 0.993) inset;
    }

    .box_info_portada{
        width: 90%;
        height: 50%;
    }

    
    .title_portada{
        font-size: 3.5rem;
    }

    .descripcion_portada{
        font-size: 1.8rem;
    }


}


@media screen and (max-width:550px) {

    .blur_portada{
        width: 100.5%;
        height: 77rem;
        box-shadow: 0 0 17px 15px rgba(0, 0, 0, 0.993) inset;
    }

    .box_info_portada{
        height: 50%;
        top: 30rem;
        width: 98%;
        left: 1rem;
    }

    
    .title_portada{
        font-size: 1.8rem;
        filter: drop-shadow(0 0 4px black);
    }

    .descripcion_portada{
        font-size: 1.5rem;
        filter: drop-shadow(0 0 2px black);
    }


}




@media screen and (max-width:400px) {

    .box_info_portada{
        width: 98%;
        left: 0;
    }
    
    .title_portada{
        font-size: 1.7rem;
        filter: drop-shadow(0 0 4px black);
    }

    .descripcion_portada{
        font-size: 1.5rem;
        filter: drop-shadow(0 0 2px black);
    }


}