.preloadCards{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999 !important;
    background-color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6rem;
    transition: none !important;
    opacity: .5;
}

.box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    transition: none !important;
    position: relative;
    top: -10rem;
}

.box1{
    width: 20rem;
    height: 5rem;
    position: absolute;
    top: -8rem;
    left: 0%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.123) 8%, rgb(27, 27, 27) 28%, rgba(0, 0, 0, 0.993) 100%);
    background-color: black;
    animation-duration: 1.20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-size: 120rem 100%;
}

.placeholder-loader {
  width: 25rem;
  height: 30rem;
  border-radius: 4px;
  background: linear-gradient(to right, rgba(19, 19, 19, 0.123) 8%, rgb(37, 37, 37) 28%, rgba(0, 0, 0, 0.993) 100%);
  background-color: black;
  animation-duration: 1.20s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 120rem 100%;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@media screen and (max-width:1440px){
  .box_container{
    top: 5rem;
  }
  .box1{
    display: none;
  }
}


@media screen and (max-width:900px){
  .box_container{
    top: 5rem;
  }

}


@media screen and (max-width:600px){
  .box_container{
    top: 20rem;
  }



}