.preload{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999 !important;
    background-color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6rem;
    transition: none !important;
}

.box_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    transition: none !important;
    position: relative;
    top: -10rem;
}

.box1{
    width: 20rem;
    height: 5rem;
    position: absolute;
    top: -8rem;
    left: 0%;
    background: linear-gradient(to right, #2e2e2e2c 8%, #3f3f3f15 28%, #1f1f1f10 33%);
    animation-duration: 1.17s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-size: 130rem 40rem;
}

.placeholder-loader {
  width: 25rem;
  height: 30rem;
  border-radius: 4px;
  background: linear-gradient(to right, #2e2e2e2c 8%, #3f3f3f15 28%, #1f1f1f10 33%);
  animation-duration: 1.17s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-size: 130rem 40rem;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}