
/* cards */

.cardMovie{
    border: 2px solid rgba(255, 255, 255, 0.253);
    width: 23.5rem; 
    height: 31rem;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden ;
    margin: 0 auto;

}

.cardMovie img{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    filter: contrast(105%) brightness(105%);
}

@media screen and (max-width:1700px) {
    .cardMovie{
        width: 21rem; 
        height: 30rem;
    }

    .cardMovie img{
        object-fit: cover;
    }
}


@media screen and (max-width:1440px) {
    .cardMovie{
        width: 21rem; 
        height: 30rem;
    }

    .cardMovie img{
        object-fit: cover;
    }
}

@media screen and (max-width:1230px) {
    .cardMovie{
        width: 18rem; 
        height: 28rem;
    }

    .cardMovie img{
        object-fit: cover;
    }
}



@media screen and (max-width:900px) {
    .cardMovie{
        width: 21rem; 
        height: 28rem;
    }

    .cardMovie img{
        object-fit: cover;
    }
}

@media screen and (max-width:800px) {
    .cardMovie{
        width: 19rem; 
        height: 26rem;
    }

}

@media screen and (max-width:730px) {
    .cardMovie{
        width: 16rem; 
        height: 26rem;
    }

}


@media screen and (max-width:650px) {
    .cardMovie{
        width: 19.5rem; 
        height: 29rem;
    }

}

@media screen and (max-width:500px) {
    .cardMovie{
        width: 17rem; 
        height: 26rem;
    }

}

@media screen and (max-width:420px) {
    .cardMovie{
        width: 15rem; 
        height: 26.5rem;
    }

}

@media screen and (max-width:380px) {
    .cardMovie{
        width: 20rem; 
        height: 28rem;
        margin: 0 auto;
    }

}
