.home{
    min-height: 100vh;
    width: 100%;
    color: white;
    font-size: 3rem;
    padding: 0 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10rem 0 ;
    margin-top: 8rem;
    gap: 4rem;
}

.box_list{
    overflow: hidden;
    position: relative;
    padding: 2rem 2.5rem;
    height: 42rem;
    width: 100%;
}

.box_list h2{
    margin-bottom: 4rem;
    font-size: 3rem;
    letter-spacing: 1px;
    padding-left: 2rem;
}



@media screen and (max-width:600px) {
    .slider_cards{
        padding-left: 1rem;
    }

    .box_list h2{
        padding-left: 1rem;
    }
    
}

@media screen and (max-width:540px) {
    .box_list{
        padding: 2rem 2.5rem;
    }
    .home{
        padding: 0 2rem;
    }
}

@media screen and (max-width:500px) {
    .box_list{
        padding: 2rem 2.5rem;
        
    }
    .home{
        min-height: 100vh;
        padding: 0 1rem;
    }

    .box_list h2{
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }
}

