.home{
    min-height: 100vh;
    width: 100%;
    color: white;
    font-size: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15rem ;
    gap: 4rem;
}

.box_list{
    overflow: hidden;
    position: relative;
    padding: 2rem 4rem;
    height: 42rem;
    width: 95%;
}

.box_list h2{
    margin-bottom: 4rem;
    font-size: 3rem;
    letter-spacing: 1px;
    padding-left: 2rem;
}

.button_top_home{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(183,84,224,1) 2%, rgba(0,255,188,1) 100%);
    width: 5rem;
    height: 5rem;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 10px black inset;
}

.button_top_home img{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    filter: drop-shadow( 0 0 2px black);
}


@media screen and (max-width:600px) {
    .slider_cards{
        padding-left: 1rem;
    }

    .box_list h2{
        padding-left: 1rem;
    }
    
}

@media screen and (max-width:540px) {
    .box_list{
        padding: 2rem 2.5rem;
    }
    .home{
        padding: 0 2rem;
    }
}

@media screen and (max-width:500px) {
    .box_list{
        padding: 2rem 2.5rem;
        
    }
    .home{
        min-height: 100vh;
        padding: 0 1rem;
    }

    .box_list h2{
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }
}

