.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 4rem;
    background-image: url("../assets/blur-colors.png");
    background-position:  60%  -60%;
    background-attachment: fixed;
    background-size:80%;
}

.home::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0rem;
    backdrop-filter: blur(13px);
    background: transparent url("../assets/noise.png") repeat 0 0;
    animation: _noiseAnim_judif_1 .2s infinite;
    background-repeat: repeat;
    opacity: .7;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 1;
}


.box_list{
    overflow: hidden;
    position: relative;
    padding: 2rem 4rem;
    height: 42rem;
    z-index: 100;
    width: 89% !important;
}

.box_list h2{
    margin-bottom: 4rem;
    font-size: 3rem;
    letter-spacing: 1px;
    padding-left: 2rem;
}

.button_top_home{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(183,84,224,1) 2%, rgba(0,255,188,1) 100%);
    width: 5rem;
    height: 5rem;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 10px black inset;
}

.button_top_home img{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    filter: drop-shadow( 0 0 2px black);
}

.slider_cards .slick-slide > div {
    margin: 0 10px;
}
  
/* .slider_cards .slick-list {
  margin: 0 -10px;
} */
.slick-dots li button {
display: none !important;
}

  @keyframes _noiseAnim_judif_1 {
    0% {
        background-position: 0 0
    }

    10% {
        background-position: -5% -5%
    }

    20% {
        background-position: -10% 5%
    }

    30% {
        background-position: 5% -10%
    }

    40% {
        background-position: -5% 15%
    }

    50% {
        background-position: -10% 5%
    }

    60% {
        background-position: 15% 0
    }

    70% {
        background-position: 0 10%
    }

    80% {
        background-position: -15% 0
    }

    90% {
        background-position: 10% 5%
    }
}
  

@media screen and (max-width:1700px) {
    .box_list{
        overflow: hidden;
        position: relative;
        padding: 2rem 4rem;
        height: 42rem;
        width: 95%;
    }
}



@media screen and (max-width:600px) {
    .slider_cards{
        padding-left: 1rem;
    }

    .box_list h2{
        padding-left: 1rem;
    }
    
}

@media screen and (max-width:540px) {
    .box_list{
        padding: 2rem 2.5rem;
    }
    .home{
        padding: 0 2rem;
    }
}

@media screen and (max-width:500px) {
    .box_list{
        padding: 2rem 2.5rem;
        width: 100% !important;
    }
    .home{
        min-height: 100vh;
        padding: 0 1rem;
    }

    .box_list h2{
        margin-bottom: 4rem;
        font-size: 2.5rem;
    }

    .slider_cards .slick-slide > div {
        margin: 0 2px;
    }
    .slider_cards {
        padding-left: 0rem;
    }
}

@media screen and (max-width:370px) {
    .box_list{
        padding: 2rem 2.5rem;
        width: 100% !important;
    }
    .slider_cards {
        padding-left: 0rem;
    }

    .slider_cards .slick-slide > div {
        margin: 0 2px;
    }
}

