
/* cards */

.cardMovie{
    border: 2px solid rgba(255, 255, 255, 0.253);
    height: 32rem;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden ;
    margin: 0 auto;
    position: relative;
}

.cardMovie img{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    filter: contrast(105%) brightness(105%);
}

.hover_fav{
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background-color: wheat;
    border-radius: 2px solid red;
    z-index: 1000;
}



/* corazon */
.heart {
    width: 80px;
    height: 80px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    position: relative;
    filter:   drop-shadow( 0 0 20px rgb(255, 254, 254)) ;
}


.heart-is-active {
    width: 80px;
    height: 80px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    transition: background-position 1s steps(28);
    transition-duration: 1s;
    background-position: -2800px 0;
    filter: invert() hue-rotate(10deg) drop-shadow( 0 0 10px black) contrast(110%);
}

.stage {
    position: absolute;
    top: -3rem;
    right: -1rem;
}



@media screen and (max-width:1700px) {
    .cardMovie{
        height: 30rem;
    }

    .cardMovie img{
        object-fit: cover;
    }
}


@media screen and (max-width:1440px) {


    .cardMovie img{
        object-fit: cover;
    }
}

@media screen and (max-width:1230px) {
    .cardMovie{
        height: 28rem;
    }

    .cardMovie img{
        object-fit: cover;
    }
}



@media screen and (max-width:900px) {
    .cardMovie{
        height: 28rem;
    }

    .cardMovie img{
        object-fit: cover;
    }
}

@media screen and (max-width:800px) {
    .cardMovie{
        height: 26rem;
    }

}

@media screen and (max-width:730px) {
    .cardMovie{
        height: 26rem;
    }

}


@media screen and (max-width:650px) {
    .cardMovie{
        height: 29rem;
    }

}

@media screen and (max-width:500px) {
    .cardMovie{
        height: 26rem;
    }

}

@media screen and (max-width:420px) {
    .cardMovie{
        height: 26.5rem;
    }

}

@media screen and (max-width:380px) {
    .cardMovie{
        height: 28rem;
        margin: 0 auto;
    }

}
