*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  user-select: none;
}

html{
  font-size: 62.5%;
  background-color: black;
}


@font-face {
  font-family: 'Montserrat';
  src: url('./components/assets/fonts/Montserrat-SemiBold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MontserratBold';
  src: url('./components/assets/fonts/Montserrat-Bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
