*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
/*   user-select: none; */
  text-decoration: none;
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
  background-color: black;
}


@font-face {
  font-family: 'Montserrat';
  src: url('./components/assets/fonts/Montserrat-SemiBold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MontserratBold';
  src: url('./components/assets/fonts/Montserrat-Bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
background: rgb(0, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #1cffbb 5%, #8b0ef2 74%);
  border-radius: 20px;       /* roundness of the scroll thumb */
  border:4px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}