.nav{
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.973);
    box-shadow: 0 -15px 7px 20px rgba(2, 0, 0, 0.993) ;
}


.lineNav{
    top: 0rem;
    width: 0%;
    opacity: 0;
    position: relative;
    height: .30rem;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;    
    background-image: linear-gradient(90deg,#000 16.66666%,#c077f0 33.33333%,#aee8fa 50%,#68bde7 66.66666%,#6bd490 83.33333%,#000);
    background-repeat: no-repeat;
    background-size: 85%;
    animation: animate 5s linear infinite;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
      background-position: -800%;
    }
    100% {
      background-position: 800%;
    }
  }


.list_nav{
  width: 22rem;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all .5s ease;
  overflow: hidden;
  background-color: rgba(10, 10, 10, 0.973);
  backdrop-filter: blur(3px);
  color: white;
  box-shadow: 0 0rem 4rem rgba(163, 98, 201, 0.397);
  border-left: none;
  border-bottom: none;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.list_nav::before{
    content: "";
    background-image: url("../assets/blur-colors.png");
    width: 100rem;
    position: absolute;
    left: -50rem;
    top: 0;
    height: 100%;
    z-index: -1;
    background-size: 100%;
    filter: hue-rotate(60deg);
    background-repeat: no-repeat;
    animation: move2 10s infinite linear;
}

.box_links_nav{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1.7rem;
    padding-top: 8rem;
    transition: all .4s ease;
}

.movieSelect{
    width: 100%;
    display: flex;
    font-size: 1.8rem;
    padding-left: 4rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.title_select{
    text-shadow: 0 0 2px white;
}

/* desplegable movie */
.desplegableMenu{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem ;
    margin-top: 3rem;
    width: 30rem;
    position: relative;
    left: -9.5rem;
    transition: all .4s ease-in-out;
}

/* desplegable tv */

.desplegableMenu_tv{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem ;
    margin-top: 3rem;
    width: 30rem;
    position: relative;
    left: -8.8rem;
    transition: all .4s ease-in-out;
}


.box_links_nav li {
    font-size: 1.5rem;
    color: rgb(216, 216, 216);
    width: 16rem;
    letter-spacing: 1px;
}

.box_links_nav li:hover{
    color: rgb(142, 253, 235);
    scale: 1.03;
    text-shadow: 0 0 2px white;
}

/* triangle movie */

.triangle_top{
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffffffb6 transparent;
    backdrop-filter: blur(3px);
    top: .7rem;
    left: 6rem;
}

.triangle_back{
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #ffffffb6 transparent transparent transparent;
    backdrop-filter: blur(3px);
    top: .7rem;
    left: 6rem;
}

/* triangle tv */

.triangle_top_tv{
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffffffb6 transparent;
    backdrop-filter: blur(3px);
    top: .7rem;
    left: 6.8rem;
}

.triangle_back_tv{
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #ffffffb6 transparent transparent transparent;
    backdrop-filter: blur(3px);
    top: .7rem;
    left: 6.8rem;
}


.linkHome_despl{
    font-size: 1.7rem;
    color: white;
    letter-spacing: 1px;
    position: relative;
    left: -4rem;
}


.list_hr{
    width: 90%;
    position: relative;
    left: 0;
    z-index: 2000;
    border: 1px solid rgba(255, 253, 253, 0.151);
}



@keyframes move2 {
    0%{  left: -48rem;}
    50%{  left: -45rem; rotate: 90deg;}
    100%{  left: -48rem;}
  }

.toggle{
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 3rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 1000;
}


.line{
    width: 70%;
    height: .3rem;
    background-color: white;
    transition: all .3s ease;
}

.line1_active{
    position: relative;
    transform: rotate(45deg) translateY(.8rem);
    transition: all .3s ease;
}

.line2_active{
    opacity: 0;
    transition: all .3s ease;
}

.line3_active{
    position: relative;
    transform: rotate(-45deg) translateY(-.9rem);
    top: -1rem;
    transition: all .3s ease;
}


.linkHome{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 18rem;
    backdrop-filter: blur(4px);
    cursor: pointer;
    transition: all .3s ease;
    color: white;
    top: 2.5rem;
    text-decoration: none;
    font-size: 1.9rem;
}


.button_login{
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4rem;
    top: 1.5rem;
    background-color: #000000;
    backdrop-filter: blur(4px);
    background: linear-gradient(90deg, rgba(183,84,224,1) 2%, rgba(0,255,188,1) 100%);
    cursor: pointer;
    z-index: 99999;
    transition: all .3s ease;
}

.button_login p{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-family: "MontserratBold";
    letter-spacing: 1px;
    text-shadow: 0 0 22px rgb(0, 0, 0);
}

.button_login:hover{
    scale: 1.05;
    filter: contrast(110%) brightness(120%);
    transition: all .3s ease;
}


/* search */

.busqueda{
    position: absolute;
    left: 19rem;
    top: 2.5rem;
    width: 20rem ;
    cursor: pointer;
    display: flex;
    justify-content:  flex-star;
    align-items: center;
    z-index: 100;
    outline: none;
}

.boxSearch{
    position: absolute;
    border-radius: 10px;
    left: 0rem;
    top: -.3rem;
    border: 2px solid rgba(253, 252, 252, 0.726);
    width: 20rem !important;
    transition: all .4s ease;
    overflow: hidden;
    outline: none;
}

.boxSearch input{
    position: relative;
    top: 0;
    left: 0;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    padding: .7rem;
    transition: all .4s ease;
    background-color: black;
    background: black;
    border-radius: 10px;
}


.boxSearch_active{
    position: absolute;
    border-radius: 10px;
    left: 0rem;
    top: 0rem;
    width: 0rem !important;
    transition: all .4s ease;
}

.boxSearch_active input{
    display: none;
    transition: all .4s ease;
}

.busqueda img{
    position: relative;
    left: -3.5rem;
    width: 2.5rem;
    object-fit: contain;
}

.enviar{
    display: none;
}

.enviar_active{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -.3rem;
    top: -.3rem;
    background-image: url("../assets/enviar.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .4rem;
    filter: drop-shadow( 0 0 2px rgba(255, 255, 255, 0.541));
    border: none;
    width: 3.2rem;
    height: 3.6rem;
    text-align: center;
    cursor: pointer;
    z-index: 200;
    background-color: #d6d6d6;
    transition: all .3s ease;
}

.enviar_active:hover{
    background-color: #ffffff;
    transition: all .3s ease;
}



@media screen and (max-width:1440px){

    .busqueda{
        left: 15rem;
    }
    
    .lineNav {
        display: none;
    }
}



@media screen and (max-width:550px){

    .box_links_nav ul{
        gap: 1.3rem;
    }

    .box_links_nav li {
        font-size: 1.6rem;
    }
    
    .button_login {
        right: 2rem;
    }

    .busqueda {
        left: 14rem;
    }

    .toggle {
        left: 2rem;
    }

    .boxSearch {
        width: 15rem !important;
        top: -.7rem;
    }
    .busqueda img {
        left: -3.5rem;
        top: -.2rem;
    }
}


@media screen and (max-width:420px){

    .busqueda {
        left: 11rem;
    }

    .toggle {
        left: 1.5rem;
    }

    .boxSearch {
        width: 14rem !important ;
        top: -.7rem;
        outline: none;
    }
    .busqueda img {
        left: -3.5rem;
        filter: contrast(60%);
    }

    .button_login {
        width: 8rem;
        height: 4rem;
        right: 2rem;
    }

    .button_login p {
        font-size: 1.6rem;
    }
}


@media screen and (max-width:360px){

    .busqueda {
        left: 11rem;
    }

    .toggle {
        left: 1.5rem;
    }

    .boxSearch {
        width: 10rem !important ;
        top: -.7rem;
        outline: none;
    }
    .busqueda img {
        left: -3.5rem;
        filter: contrast(60%);
    }

    .button_login {
        width: 8rem;
        height: 4rem;
        right: 2rem;
    }

    .button_login p {
        font-size: 1.6rem;
    }
}